<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixedNav">
  <a class="navbar-brand titleMain" href="/">MySensorWEB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      
    </ul>
  </div>
</nav>
<br>
<section>
    <div class="containerAbout">
        <img src="https://cpnaa.gov.co/wp-content/uploads/2020/05/Logo_Universidad-de-La-Salle_sin-fondo.png" alt="Universidad de la Salle" title="Universidad de la Salle">
        <p>
            <b>MySensorWEB</b> es una aplicación web desarrollada para el consumo de apis las cuales alojan datos e información sobre sensores de bajo costo en tiempo real, de modo que, mediante ésta aplicación se podrá ver la información y datos en tiempo real de dichos sensores, además de estar almacenados en una base de datos (Firebase). En función de esto, también podemos obtener esta información por me dio de /api.
            <hr>
            <b>MySensorWEB</b> is a web application developed for the consumption of APIs which host data and information on low-cost sensors in real time, so that through this application it is possible to see the information and data in real time from said sensors, in addition to being stored in a database (Firebase). Based on this, we can also get this information from / api
        </p>
    </div>
</section>
<br>
<footer>
  <div class="footer-container-about">
    <ul class="ul-footer-about">
      <li class="li-footer">&copy; Andrés Florez</li>
    </ul>
  </div>
</footer>