<br>
<div class="jumbotron mt-4">
    <h1 class="display-4">MySensorWEB</h1>
    <p class="lead">
        Es una aplicación web desarrollada para el consumo de apis las cuales alojan datos e información sobre sensores de bajo costo en tiempo real, de modo que, mediante ésta aplicación se podrá ver la información y datos en tiempo real de dichos sensores, además de almacenarlos en una base de datos en la nube (Firebase).
    </p>
</div>
<br>
