<div class="card mb-3" style="padding-bottom: 20px; margin: 20px;">
    <div class="card-body">
        <h3>Gobernanza de la calidad del aire por medio de sensores de bajo costo -SBC</h3>
        <hr>
        <h5 class="card-title">SBC Unisalle</h5>
        <p class="card-text" style="text-align: justify;">Es una aplicación web desarrollada para el consumo de apis las cuales alojan datos e
            información sobre
            sensores de bajo costo en tiempo real, de modo que, mediante ésta aplicación se podrá ver la información
            y datos en tiempo real de dichos sensores, además de almacenarlos en una base de datos en la nube
            (Firebase).
        </p>
        <h5>Convenio de investigación</h5>
        <p class="card-text" style="text-align: justify;">
            Ecopetrol y la Universidad de La Salle han firmado un convenio de colaboración, con el fin de estudiar tecnologías de bajo costo para el monitoreo de la calidad del aire y su contexto de aplicación. Este proyecto permitirá identificar tecnologías costo-eficientes para el estudio del medioambiente, el fortalecimiento de capacidades locales y la apropiación social del conocimiento.
        </p>
    </div>
    <div class="container-img-about">
        <div class="img-about">
            <img src="/imgs/gobernanza.jpg" class="card-img-top" alt="La Salle" >
        </div>
        <div class="img-about">
            <img src="/imgs/lideran.png" class="card-img-bottom" alt="La Salle">
        </div>
    </div>
</div>
<br>