<div class="card mb-3" style="padding-bottom: 20px; margin: 20px;">
    <div class="card-body">
        <h3>Gobernanza de la calidad del aire por medio de sensores de bajo costo -SBC</h3>
        <hr>
        
    </div>
</div>
<br>