<section>
  <div>
    <h1 class="titulo-main"><b> Proyecto de tecnologías de bajo costo para la medición y gobernanza de la calidad del aire en Bogotá - Colombia</b></h1>
    <hr>
    <div class="container-map-ica">
      <div id="map"></div>
      <div class="container-ica">
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="/imgs/indices.png" alt="Indices de la calidad del aire" title="Índice de calidad del aire..."></a>
      </div>
    </div>

  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Índice de calidad del aire ICA</h5>
      </div>
      <div class="modal-body">
        El Índice de calidad del aire (ICA) es un valor asociado a un código de colores para reportar el estado de la calidad del aire al que están asociados unos efectos generales que deben ser tenidos en cuenta para reducir la exposición a altas concentraciones de contaminantes por parte de la población" (IDEAM, s.f).
        <br>
        Rangos:
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #39c227;">Buena: </span>La
        contaminación atmosférica supone un riesgo bajo para la salud.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #fcc438;" >Moderado: </span>Posibles síntomas respiratorios en grupos poblacionales sensibles.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #EF8D22;">Insalubre para grupos
          sensibles: </span>las personas que pertenecen a grupos sensibles pueden experimentar efectos en su salud. Esto significa que se ven afectadas a niveles más bajos que el público en general. Por ejemplo, las personas que padecen de enfermedades pulmonares o coronarias.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #f00; color: #fff;">Insalubre: </span>Todos los
        individuos pueden comenzar a
        experimentar efectos sobre la salud. Los grupos
        sensibles pueden experimentar efectos más
        graves para la salud
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #834187; color: #fff;">Muy insalubre: </span>Estado de alerta que significa que todos pueden experimentar efectos más graves para la salud.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #754106; color: #fff;">Peligroso: </span>Advertencia sanitaria. Toda la población puede presentar efectos graves en la salud. 

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{{!-- <section class="section-sensors">
  <h3>Sensores disponibles:</h3>
  <div class="container-sensors">
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
          title="ModulairPM">
        <p>ModulairPM</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
          title="ModulairPM2">
        <p>ModulairPM2</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/clarity.jpeg"
          alt="Clarity" title="Clarity">
        <p>Clarity</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/nubo.jpeg"
          alt="NuboAir" title="NuboAir">
        <p>NuboAir</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/eva.jpeg"
          alt="Eva" title="Eva">
        <p>Eva</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/plantower.jpeg"
          alt="Plantower 1" title="Plantower 1">
        <p>Plantower</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/mhz-sensor.jpeg"
          alt="mhz" title="MHZ">
        <p>MHZ</p>
    </div>
  </div>
</section>
<br> --}}

<p style="font-size: 25px; margin: 20px 20px;"><b>Si quieres saber más sobre estos sensores, regístrate <a href="/signup">aquí</a></b></p>
<script type="module" src="js/login.js"></script>

<script async type="module" src="js/googleMaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeawHKlf1NBvPDIUer0sYDxn7WrIIL3ag"  ></script>