<section>
  <div>
    <h1 class="titulo-main">Tecnologías de bajo costo para la medición y gobernanza de la calidad del aire en Bogotá - Colombia</h1>
    <hr>
    <div class="container-map-ica">
      <div id="map"></div>
      <div class="container-ica">
        <img src="/imgs/indices.png" alt="Indices de la calidad del aire">
      </div>
    </div>

  </div>
</section>

{{!-- <section class="section-sensors">
  <h3>Sensores disponibles:</h3>
  <div class="container-sensors">
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
          title="ModulairPM">
        <p>ModulairPM</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
          title="ModulairPM2">
        <p>ModulairPM2</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/clarity.jpeg"
          alt="Clarity" title="Clarity">
        <p>Clarity</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/nubo.jpeg"
          alt="NuboAir" title="NuboAir">
        <p>NuboAir</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/eva.jpeg"
          alt="Eva" title="Eva">
        <p>Eva</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/plantower.jpeg"
          alt="Plantower 1" title="Plantower 1">
        <p>Plantower</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/mhz-sensor.jpeg"
          alt="mhz" title="MHZ">
        <p>MHZ</p>
    </div>
  </div>
</section>
<br> --}}

<p style="font-size: 25px; margin: 20px 20px;"><b>Si quieres saber más sobre estos sensores, regístrate <a href="/signup">aquí</a></b></p>
<script type="module" src="js/login.js"></script>
<script type="module" src="js/googleMaps.js"></script>

<script async 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeawHKlf1NBvPDIUer0sYDxn7WrIIL3ag&callback=initMap">
  </script>