<section>
  <div>
    <h2 style="margin-bottom: -56px;">Ubicaciones de nuestros sensores</h2>
    <div id="map"></div>
  </div>
  <div class="info">
    <h2>La importancia de la calidad y el monitoreo del aire</h2>
    <p>La Red de Monitoreo de Calidad del Aire, realiza el monitoreo de los contaminantes criterio PM10, PM2.5, PM1.0, O2, NO2, y las variables meteorológicas temperatura, presión atmosférica, y humedad. Donde dependiendo de un cierto intervalo de tiempo, tendremos nuevas mediciones, con las cuales poder tener un análisis y llevar un control de datos. </p>
  </div>
</section>

<section class="section-sensors">
  <h3>Sensores disponibles:</h3>
  <div class="container-sensors">
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
          title="ModulairPM">
        <p>ModulairPM</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
          title="ModulairPM2">
        <p>ModulairPM2</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/clarity.jpeg"
          alt="Clarity" title="Clarity">
        <p>Clarity</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/nubo.jpeg"
          alt="NuboAir" title="NuboAir">
        <p>NuboAir</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/eva.jpeg"
          alt="Eva" title="Eva">
        <p>Eva</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/plantower.jpeg"
          alt="Plantower 1" title="Plantower 1">
        <p>Plantower</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/mhz-sensor.jpeg"
          alt="mhz" title="MHZ">
        <p>MHZ</p>
    </div>
  </div>
  <p style="font-size: 20px;">Si quieres saber más sobre estos sensores, regístrate <a href="/signup">aquí</a></p>
</section>

<script type="module" src="js/login.js"></script>
<script src="js/googleMaps.js"></script>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeawHKlf1NBvPDIUer0sYDxn7WrIIL3ag&callback=initMap">
  </script>