{{!-- <section class="section-container" >
    <div class="sensores-container-img" >
        <img src="/imgs/Render.jpg" >
    </div>
</section> --}}
<section class="section">
    <h1 style="margin-left: 20px;" >Bienvenido {{user.name}}</h1>
    <h2 style="margin-left: 20px;" >Seleccione su sensor</h2>
    <div class="father">
        <div class="div-img">
            <a href="/airlink">
                <img src="/imgs/airlink.jpeg" alt="Airlink"
                    title="Airlink">
                Airlink
            </a>
        </div>
        <div class="div-img">
            <a href="/modulair-pm">
                <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
                    title="ModulairPM">
                Modulair1
            </a>
        </div>
        <div class="div-img">
            <a href="/modulair-pm2">
                <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
                    title="ModulairPM2">
                Modulair2
            </a>
        </div>
        <div class="div-img">
            <a href="/nuboair">
                <img src="/imgs/nubo.jpeg" alt="NuboAir"
                    title="NuboAir">
                NuboAir
            </a>
        </div>
        <div class="div-img">
            <a href="/clarity">
                <img src="/imgs/clarity.jpeg"
                    alt="Clarity" title="Clarity">
                Clarity1
            </a>
        </div>
        <div class="div-img">
            <a href="/clarity2">
                <img src="/imgs/clarity.jpeg"
                    alt="Clarity2" title="Clarity2">
                Clarity2
            </a>
        </div>
        <div class="div-img">
            <a href="/eva">
                <img src="/imgs/eva.jpeg"
                    alt="Eva" title="Eva">
                Eva1
            </a>
        </div>
        <div class="div-img">
            <a href="/eva2">
                <img src="/imgs/eva.jpeg"
                    alt="Eva2" title="Eva2">
                Eva2
            </a>
        </div>
        <div class="div-img">
            <a href="/purpleair">
                <img src="/imgs/purple.jpeg" alt="PurpleAir"
                    title="PurpleAir">
                PurpleAir
            </a>
        </div>
        <div class="div-img">
            <a href="/plantower">
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 1" title="Plantower 1">
                Plantower1
            </a>
        </div>
        <div class="div-img">
            <a href="/plantower2">
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 2" title="Plantower 2">
                Plantower2
            </a>
        </div>
        <div class="div-img">
            <a href="/plantower3">
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 3" title="Plantower 3">
                Plantower3
            </a>
        </div>
        <div class="div-img">
            <a href="/plantower4">
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 4" title="Plantower 4">
                Plantower4
            </a>
        </div>
        
        <div class="div-img">
            <a href="/plantower5">
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 5" title="Plantower 5">
                Plantower5
            </a>
        </div>
        {{!-- <div class="div-img">
            <a href="/mhz">
                <img src="/imgs/mhz-sensor.jpeg" alt="mhz" title="MHZ">
                MHZ
            </a>
        </div> --}}
    </div>
</section>
<div class="container-map-ica">
    <div id="map"></div>
    <div class="container-ica">
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="/imgs/tablaica.png" alt="Indices de la calidad del aire" title="Índice de la calidad de aire..."></a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Índice de calidad del aire ICA</h5>
      </div>
      <div class="modal-body">
        El Índice de calidad del aire (ICA) es un valor asociado a un código de colores para reportar el estado de la calidad del aire al que están asociados unos efectos generales que deben ser tenidos en cuenta para reducir la exposición a altas concentraciones de contaminantes por parte de la población" (IDEAM, s.f).
        <br>
        Rangos:
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #39c227;">Buena: </span>La
        contaminación atmosférica supone un riesgo bajo para la salud.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #fcc438;" >Moderado: </span>Posibles síntomas respiratorios en grupos poblacionales sensibles.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #EF8D22;">Insalubre para grupos
          sensibles: </span>las personas que pertenecen a grupos sensibles pueden experimentar efectos en su salud. Esto significa que se ven afectadas a niveles más bajos que el público en general. Por ejemplo, las personas que padecen de enfermedades pulmonares o coronarias.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #f00; color: #fff;">Insalubre: </span>Todos los
        individuos pueden comenzar a
        experimentar efectos sobre la salud. Los grupos
        sensibles pueden experimentar efectos más
        graves para la salud
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #834187; color: #fff;">Muy insalubre: </span>Estado de alerta que significa que todos pueden experimentar efectos más graves para la salud.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #754106; color: #fff;">Peligroso: </span>Advertencia sanitaria. Toda la población puede presentar efectos graves en la salud. 
        <br>
        <br>
        <a href="http://www.ideam.gov.co/documents/51310/527391/2.+Resoluci%C3%B3n+2254+de+2017+-+Niveles+Calidad+del+Aire..pdf/c22a285e-058e-42b6-aa88-2745fafad39f" target="_BLANK" >Si quieres saber más sobre la resolución...</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="js/googleMaps.js"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeawHKlf1NBvPDIUer0sYDxn7WrIIL3ag">
  </script>
