<section class="section">
    <h1>Bienvenido {{user.email}}</h1>
    <h2>Seleccione su sensor</h2>
    <div class="father">
        <div class="div-img">
            <a href="/modulair-pm">
                <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
                    title="ModulairPM">
                ModulairPM
            </a>
        </div>
        <div class="div-img">
            <a href="/modulair-pm2">
                <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
                    title="ModulairPM2">
                ModulairPM2
            </a>
        </div>
        <div class="div-img">
            <a href="/nuboair">
                <img src="/imgs/nubo.jpeg" alt="NuboAir"
                    title="NuboAir">
                NuboAir
            </a>
        </div>
        <div class="div-img">
            <a href="/clarity">
                <img src="/imgs/clarity.jpeg"
                    alt="Clarity" title="Clarity">
                Clarity
            </a>
        </div>
        <div class="div-img">
            <a href="/eva">
                <img src="/imgs/eva.jpeg"
                    alt="Eva" title="Eva">
                Eva
            </a>
        </div>
        <div class="div-img">
            <a href="/plantower">
                <img src="/imgs/plantower.jpeg"
                    alt="Plantower 1" title="Plantower 1">
                Plantower
            </a>
        </div>
        <div class="div-img">
            <a href="/mhz">
                <img src="/imgs/mhz-sensor.jpeg" alt="mhz" title="MHZ">
                MHZ
            </a>
        </div>
    </div>
</section>
<div>
    <h2 style="margin-bottom: -56px;">Ubicaciones de nuestros sensores</h2>
    <div id="map"></div>
</div>

<script src="js/googleMaps.js"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeawHKlf1NBvPDIUer0sYDxn7WrIIL3ag&callback=initMap">
  </script>