<section class="sectionInfo">
    <h2 class="titulo">Sensor MHZ19C</h2>
    <div class="container-table">
        <table class="table" style="background-color: #014691;">
            <thead class="theadModul">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Información</th>
                </tr>
            </thead>
            <tbody class="table" style="color: #fff;">
                <tr class="table-active">
                    <th scope="row">CO2</th>
                    <td id="co2">
                    </td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Fecha de muestreo</th>
                    <td id="dateMhz">
                    </td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Humedad</th>
                    <td id="hMhz">
                    </td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Temperatura</th>
                    <td id="tempMhz">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<script type="module" src="/js/mhz.js"></script>