<div class="graph-sensors">
    <div class="mySensors">
        <div class="a-sensors">
            <a href="/modulair-pm">ModulairPM</a>
        </div>
        <div class="a-sensors">
            <a href="/modulair-pm2">ModulairPM2</a>
        </div>
        <div class="a-sensors">
            <a href="/nuboair">Nuboair</a>
        </div>
        <div class="a-sensors">
            <a href="/clarity">Clarity</a>
        </div>
        <div class="a-sensors">
            <a href="/eva">Eva</a>
        </div>
        <div class="a-sensors">
            <a href="/plantower">Plantower</a>
        </div>
        <div class="a-sensors">
            <a href="/mhz">MHZ19C</a>
        </div>
    </div>

    <div class="sensor-container">
        <section class="sensorData">
            <h2 class="titulo">Sensor Plantower 1</h2>
            <div class="container-table">
                <table class="table">
                    <thead class="theadModul">
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Información</th>
                        </tr>
                    </thead>
                    <tbody class="table" style="color: #fff;">
                        <tr class="table-active">
                            <th scope="row">Temperatura</th>
                            <td id="tempTower1">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Humedad</th>
                            <td id="humTower1">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Fecha de muestreo</th>
                            <td id="dateTower1">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">PM1.0</th>
                            <td id="pm1Tower1">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">PM2.5</th>
                            <td id="pm25Tower1">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">PM10</th>
                            <td id="pm10Tower1">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="sensorData">

            <h2 class="titulo">Sensor Plantower 2</h2>
            <div class="container-table">
                <table class="table">
                    <thead class="theadModul">
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Información</th>
                        </tr>
                    </thead>
                    <tbody class="table" style="color: #fff;">
                        <tr class="table-active">
                            <th scope="row">Temperatura</th>
                            <td id="tempTower2">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Humedad</th>
                            <td id="humTower2">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Fecha de muestreo</th>
                            <td id="dateTower2">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">PM1.0</th>
                            <td id="pm1Tower2">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">PM2.5</th>
                            <td id="pm25Tower2">

                            </td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">PM10</th>
                            <td id="pm10Tower2">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<script type="module" src="/js/plantower.js"></script>