.clarityData {
    margin: 100px 0;
}
.graph {
    position: relative;
    margin: auto;
    margin-top: 80px;
    background-color: #014691;
    height: 70vh;
    border: 2px solid #013063;
    padding-bottom: 90px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #999;
}
.comBox-container {   
    margin: 10px;
}
.p-dates-clarity {
    margin-left: 40px;
    color: #fff;
}
.select-measuresClarity {
    border-radius: 10px;
    padding: 5px;
}
.container-table{
    background-color: #014691;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #999;
}
.theadClarity {
    background-color: #fff;
}