body {
    background-color: #eee;
}
.fixedNav  {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.layout {
    margin-top: 100px;
    max-width: 100vw;
    overflow-x: hidden;
}
.titulo-main {
    text-align: center;
    margin: auto;
    max-width: 90%;
}
.titleMain {
    font-size: 30px;
    font-family: 'Patua One', cursive;
}
.father {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 78.5px - 62px);
}
.div-img {
    margin: 20px;
    text-align: center;
}

.div-img img {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    margin-bottom: 20px;
}
.div-img a{
    color: #000;
    font-size: larger;
}
.container-sensors {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 78.5px - 62px);
}
.div-img-sensors {
    margin: 20px;
    text-align: center;
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    outline: 3px solid #014691;
}

.div-img-sensors img {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.div-img-sensors p{
    color: rgba(231,166,26,1);
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.div-img {
    margin: 30px;
    text-align: center;
    background-color: #36506d;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgba(231,166,26,1);
}

.div-img a {
    color: #fff;
}

.div-img:hover {
    transition: all 1s ease;
    background-color: #011933;
}

#incorrect {
    display: none;
    color: #f00;
}

#incorrectRegister {
    display: none;
    color: #f00;
}

.container-map-ica {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#map {
    border-radius: 10px;
    margin: 10px;
    outline: 1px solid #0a3356;
    width: 900px;
    height: 500px;
}

.container-ica {
    margin: 10px;
}

.container-ica img {
    width: 300px;
}


.container-img-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-about {
    margin: 10px;
}

.img-about img {
    padding: 2px;
    margin: auto;
    border: 2px solid #264260;
    border-radius: 10px;
    max-width: 900px;
}

.ul-nav {
    font-size: 20px;
}

.logo-salle {
    background-color: #0a3356;
}
.logo-salle > a {
    display: inline-block;
    color: #fff;
}

.img-logo {
    width: 70px;
}
.li {
    padding: 10px 0;
    margin: 0 5px;
}
.li a:hover {
    transition: all 1s ease;
    background-color: #033974;
    border-radius: 10px;
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0a3356;
    padding: 10px 0;
}
.footer-col{
    margin: 0 auto;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgba(231,166,26,1);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .footer-social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .footer-social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.container-imgs-footer {
    margin: 0 auto;
}

.container-imgs-footer img {
    max-width: 300px;
    margin-top: 67px;
    height: 100px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.sensor-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 100%; */
}

.sensor-title {
    text-align: center;
}

.graph-sensors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mySensors {
    margin-bottom: 20px;
    margin-left: 20px;
}
.mySensors a {
   display: inline-block; 
   display: flex;
   flex-direction: column;
   font-size: 25px;
}